<!-- create.component.html -->

<app-main-dashboard-layout>
  <div class="flex py-5 border-b border-dashed border-border-200 sm:py-8">
    <button
      data-variant="normal"
      (click)="goback()"
      class="inline-flex items-center justify-center flex-shrink-0 h-12 px-5 py-0 font-semibold leading-none transition duration-300 ease-in-out border border-transparent rounded outline-none focus:outline-none focus:shadow focus:ring-1 focus:ring-accent-700 bg-accent text-light hover:bg-accent-hover"
    >
      <svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 1024 1024"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M793 242H366v-74c0-6.7-7.7-10.4-12.9-6.3l-142 112a8 8 0 0 0 0 12.6l142 112c5.2 4.1 12.9.4 12.9-6.3v-74h415v470H175c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h618c35.3 0 64-28.7 64-64V306c0-35.3-28.7-64-64-64z"
        ></path>
      </svg>
      <span class="pl-2">Go back</span>
    </button>
  </div>

  <div class="flex py-5 border-b border-dashed border-border-base sm:py-8">
    <h1 class="text-lg font-semibold text-heading">Update User</h1>
  </div>
  <app-c-u-user-form
    *ngIf="user.email !== ''"
    action="update"
    [injectedUser]="user"
    [submitFormAction]="submitFormUpdateUser"
  ></app-c-u-user-form>
</app-main-dashboard-layout>
