<!-- main-dashboard-layout.component.html -->

<div
  class="flex flex-col min-h-screen transition-colors duration-150 bg-gray-100"
  dir="ltr"
>
  <app-navbar />
  <app-mobile-navigation>
    <app-sidebar-item-map />
  </app-mobile-navigation>

  <div class="flex flex-1 pt-20">
    <aside
      class="fixed bottom-0 hidden h-full px-4 overflow-y-auto bg-white shadow xl:w-76 w-72 pt-22 ltr:left-0 ltr:right-auto rtl:right-0 rtl:left-auto lg:block"
    >
      <div class="flex flex-col py-3 space-y-6">
        <app-sidebar-item-map />
      </div>
    </aside>
    <main
      class="w-full ltr:xl:pl-76 rtl:xl:pr-76 ltr:lg:pl-72 rtl:lg:pr-72 rtl:lg:pl-0"
    >
      <div class="h-full p-5 md:p-8"><ng-content></ng-content></div>
    </main>
  </div>


</div>
